.dashboard-header h1 {
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin-left: 1.5rem;
    padding: 1rem;
}
.dashboard-content{
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
}

.dashboard-header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    border-bottom: 1px solid rgb(53, 47, 47);
}

.dashboard-container {
    width: 100%;
    
}

.dashboard-main {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    
}

@media (max-width: 1024px) {
    /* For tablets or medium screens */
    .dashboard-header h1 {
        font-size: 1.2rem;
        margin-left: 1rem;
    }

    .dashboard-main {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center align items */
    }
}

@media (max-width: 768px) {
    /* For mobile screens */
    .dashboard-header h1 {
        font-size: 1rem;
        margin-left: 0.5rem;
    }

    .dashboard-main {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center align items */
        margin-top: 1rem;
    }
}

@media (max-width: 480px) {
    /* For very small screens */
    .dashboard-header h1 {
        font-size: 0.9rem;
        margin-left: 0.5rem;
        padding: 0.5rem;
    }

    .dashboard-main {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center align items */
        margin-top: 0.5rem;
    }
}
