.login-page-container{
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

.login-page{
    margin: auto;
    padding: 2rem;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.7); /* Adjusted for transparency */
    width: 25%;
}

.login-page h1,h2{
    color:#000000;
    text-align: center;
    margin: 0;
}

.login-page h2{
    margin-bottom: 10px;
    font-size: medium;
    font-weight: normal;
    margin-bottom: 25px;    
}

.input-container{
    display: flex;
    align-items: center;
}

.input-container i{
    margin-left: -25px;
}

.login-page input{
    margin-block: 10px;
    font-size: smaller;
    border: none;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid #16161d;
    width: 95%;
}

.login-button{
    background: linear-gradient(to right, #000000, #686868);
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    margin-top:20px;
}

.login-button:hover{
    background: linear-gradient(to right, #16161d, #8d8d8d);
}

.login-google{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: black;
    border: none;
    width: 100%;
    border-radius: 15px;
    margin-top: 10px;
}

.login-google:hover{
    background-color: #dedede;
}

.google-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.signup-link {
    font-size: small;
    text-align: center;
    margin-top: 40px;

}

.login-page a{
    text-decoration: none;
    font-weight:bold;
}
