.agency-dialog {
    border: inset;
    border-radius: 10px;
    border-color: rgb(243, 243, 243);
    background-color: rgb(243, 243, 243);
}

.agency-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.agency-modal {
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.agency-buttons {
    display: flex;
    justify-content: right;
    gap: 10px;
}

.agency-modal {
    flex-grow: 1;
    padding: 20px;
}
