.roles-permissions-view {
  padding: 20px;
}

.roles-header {
  font-size: 2em; /* Adjust the size as needed */
  font-weight: bold;
  margin-bottom: 10px;
}

.permissions-header {
  font-size: 1.5em; /* Adjust the size as needed */
  font-weight: bold;
  margin-bottom: 20px;
}

.permissions-container {
  border: 1px solid #ccc;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.permissions-container label {
  display: block;
  margin-bottom: 10px;
}
