.container {
    border: 1px solid gray;
    border-radius: 10px;
    background-color: rgba(0, 123, 255, 1);
    height: auto; /* Set height to auto for dynamic content */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.green{
    background-color: rgba(40, 167, 69, 1);
}

.yellow{
    background-color: rgba(255, 193, 7, 1);
}


h1 {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

.next-Link {
    background-color: rgba(0, 0, 0, 0.1) ;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
    width:15rem;
    padding: 0.5rem;
}
.lightyellow{
    background-color: rgba(0, 0, 0, 0.1) ;
}
.lightgreen{
    background-color: rgba(0, 0, 0, 0.1);

}
.link {
    color: white;
    text-decoration: underline;
    cursor: pointer;
    font-size: small;
}

.link:hover {
    color: red;
    text-decoration: none;
}

.text {
    font-weight: 500;
    color: white;
}

i.icon {
    font-size: 2rem;
    color: white;
    align-self: center;
    margin-left: 10px;
}

.outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
}

.title {
    margin-top: 0.5rem;
    color: aliceblue;
    font-size: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 90%; /* Adjust width for smaller screens */
    }

    .outer {
        flex-direction: column; /* Stack elements vertically */
        align-items: center;
    }

    i.icon {
        font-size: 1.5rem; /* Reduce icon size */
        margin-top: 0.5rem;
    }

    h1 {
        font-size: 1.5rem; /* Adjust heading size */
        margin-bottom: 1rem;
    }

    .title {
        font-size: 1rem;
    }

    .next-Link {
        height: auto;
        padding: 0.5rem;
        width: auto;
    }
    .inner{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .title{
        padding: 10px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2rem;
    }

    i.icon {
        font-size: 1.2rem;
    }

    .link {
        font-size: smaller;
    }

    .title {
        font-size: 0.9rem;
    }

    .container {
        width: 90%; /* Full width on small screens */
        padding: 1rem;
    }

    .outer {
        flex-direction: column; /* Stack elements vertically on small screens */
        text-align: center;
    }

    .next-Link {
        padding: 1rem;
        font-size: 0.9rem;
    }
}
