input {
    padding: .5rem;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}

input:focus {
    border-color: gray;
}

.input-div{
    display:flex;
    flex-direction: column;
    margin-block: 1em;
}

.input-label{
    font-size: small;
    margin-left: 15px;
    margin-bottom: 5px;
}

.input-field{
    padding-left: 1rem;
    font-size: 1rem;
    width: 90%;
    border-radius: 25px;
    outline: none;
}

.input-div textarea {
    padding-left: 1rem;
    padding-top: 0.5rem;
    width: 95%;
    height: 100px;
    border: 1px solid #ccc;
    outline: none;
    resize:none;
}

.input-div textarea:focus {
    border-color: gray;    
}